GROQ_API_KEY=your_groq_api_key_here
TIGERGRAPH_HOST=https://your-instance.i.tgcloud.io
TIGERGRAPH_GRAPHNAME=MedGraph
TIGERGRAPH_SECRET=your_tigergraph_secret_here
TIGERGRAPH_USERNAME=tigergraph
TIGERGRAPH_PASSWORD=tigergraph123
CHROMA_PATH=./chroma_db
GROQ_MODEL=llama-3.3-70b-versatile
